*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: MicrosoftYaHeiUI;
}

body{
    background-color: #ddd;
}

p{
    display: inline;
}

a{
    text-decoration: none;
}


/*滚动条*/
body::-webkit-scrollbar{
    position: absolute;
    display: flex;
    width: 6px;
    background-color: #0085ff50;
}

body::-webkit-scrollbar-thumb{
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    display: flex;
    width: 6px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #0085ff;
}

/*header*/
#mainHead{
    -webkit-transition: background-color .8s ease-in-out;
    transition: background-color .8s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 1rem;
    background-color: #fff2;
    /*background-color: #fff;*/
    display: flex;
    position: fixed;
    /*-webkit-filter: blur(10px);
    filter: blur(10px);*/
    /*保持在所有元素上面*/
    z-index: 100;
    box-shadow: 0 2px 20px #0003;
}

#mainHead:hover{
    background-color: #eee;
}

/*
#mainHead *{
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
*/
#mainHead>span{
    margin: 5px;
}

#headMainTitle{
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    color: black;
    font-family: Consolas;
    font-size: 1.25rem;
}

#headMainTitle:hover{
    color: dodgerblue;
}

#headMain{
    padding-left: 50px;
}

#headMain>a{
    color: black;
}


/*head button*/

.headButton{
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    padding: 5px 10px;
    margin: 0 2px;
    background-color: transparent;
}

.headButton:hover{
    background-color: #0001;
}

.headButton>a{
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    color: black;
}

.headButton>a:hover{
    color: dodgerblue;
}

/*head img*/

#headImg{
    padding: 23.5%;
    width: auto;
    height: auto;
    background: url(../img/Bg1.jpg) center center / cover no-repeat;
}

#headImgTitle{
    position: absolute;
    color: white;
    width: 50%;
    text-align: center;
    font-size: 2rem;
	margin-top: -2rem;
}

.textSelection{
    animation: textSelection 0.8s infinite;
    -webkit-animation: textSelection 0.8s infinite;
}

@keyframes textSelection {
    50% {color: transparent}
}

@-webkit-keyframes textSelection {
    50% {color: transparent}
}


/*main*/
#main,#mainDiv{
    padding: 3rem 8%;
    margin: -2rem 0;
    margin-left: 10%;
    position: absolute;
    display: inline;
    border-radius: 20px;
    width: 64%;
    min-height: 4rem;
    background-color: #fff;
    box-shadow: 0 0 20px 10px #0005;
    z-index: 2;
}

#mainDiv>span{
    display: block;
    text-align: center;
}

/*blog*/
.blog{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #d9d9d9;
    border-radius: 2px;
}

.blogTitle{
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.blogTitle:hover{
    color: dodgerblue;
}

.blogText,.blogText a{
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    margin: 1rem 0 .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.blogText a:hover{
    color: dodgerblue;
}

.blogData,.blogTags{
    color: #999;
    margin-right: 1.5rem;
}

#blogFoot{
    color: #ccc;
    margin-top: 1rem;
    text-align: center;
}


/*footer*/
#foot{
    position: absolute;
    padding: 1.5rem 20% 1rem;
    margin-top: 5rem;
    margin-left: -23%;
    width: 85.5%;
    min-height: 6rem;
    background-color: #222;
}

#foot>div{
    display: inline-block;
    padding: 0 .5rem;
    margin: 0 1rem;
    width: 170px;
}

#foot span{
    display: inline-block;
    margin-top: .5rem;
}

#foot a,#foot p{
    display: block;
    color: white;
    margin-bottom: 5px;
}
