*{
	outline: none;
}
body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #fefefe;
}
#title{
	color: black;
	text-shadow: 0 0 15px #fff5;
}
#blockBox{
	margin: 0 auto;
	padding: 1rem;
	background-color: white;
	border-radius: .5rem;
	box-shadow: 0 0 30px #0005;
}
#messageBox{
	height: 4rem;
	margin: 0 0 1rem 0;
}
#messageBox>div{
	display: flex;
}
#messageName>span{
	width: 50%;
}
#marks,#nuberOfBombs{
	padding: .5rem 0;
	width: 3rem;
	margin: .5rem auto;
	box-shadow: 0 0 10px #0005;
}
#blocks{
	background-color: #ddd;
}
.block{
	float: left;
	margin: 1px;
	width: 1rem;
	height: 1rem;
}